<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/style.css" />
        <link rel="shortcut icon" href="../static/popcorn.svg" type="image/x-icon" />
        <title>Movies Backend</title>
    </head>
    <body>
        <div class="main-box">
            <div class="inside-box">
                <div class="card-head">
                    <h1>
                        <img src="../static/popcorn.svg" alt="404" style="height: 1.7rem" />Movies backend is running...
                    </h1>
                </div>
                <hr />
                <p class="card-body">
                    This is backend api app for <strong>Movies App</strong>, We don't provide any webinterface here.
                </p>
            </div>
        </div>
    </body>
</html>
